@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-950 text-zinc-100 antialiased;
}

@layer utilities {
  .opacity-0-anim {
    opacity: 0;
  }
}
