@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-950 text-zinc-100 antialiased;
}

.safe-area-padding {
  padding-left: env(safe-area-inset-left, 0);
  padding-right: env(safe-area-inset-right, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
}

@layer utilities {
  .opacity-0-anim {
    opacity: 0;
  }
}
